h2{
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;  
}
.mainTitle{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 2rem;
}
.secondTitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.pageContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.passwordBox{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-evenly;
    align-items: flex-start;
}
.input{
    width: 210px;
	height: 39px;
	border-radius: 5px;
	border: 1px solid #9090D8;
	background: #F2F2FF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
	margin-top: 15px;
	padding-left: 10px;
}
.btn{
	border: 0;
	color: #fff;
	width: 196px;
	height: 45px;
	border-radius: 7px;
	background: #5250C5;
	box-shadow: 0px 4px 7px 0px rgba(99, 99, 151, 0.15);
}