.MainDiv {
	display: flex;
	height: 52px;
	align-items: center;
	margin-top: 60px;
}
.RegionDiv {
	height: 32px;
	display: flex;
	margin-right: 29px;
	margin-left: 29px;
	align-items: center;
}

.BurgerMenu {
	display: flex;
	align-items: center;
	margin-right: 29px;
	width: 212px;
	height: 39px;
	border-radius: 6px;
	background-color: #5250c5;
	box-shadow: 0px 4px 7px 0px rgba(99, 99, 151, 0.15);
}
.BurgerMenu > button {
	background: none;
	border: none;
	padding: 0;
	margin: 0px 5px;
	cursor: pointer;
}
.BurgerMenu > button > img {
	display: block;
	width: 32px;
	height: 18px;
}
.BurgerMenu > h2 {
	color: #fff;
	font-family: Vela Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}
.NewAdd {
	width: 196px;
	height: 45px;

	border-radius: 7px;
	background: #5250c5;
	color: #fff;
	text-align: center;
	font-family: Vela Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	border: 0px;
	margin: 0 29px;
}
.signInIp {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: #39397f;
	text-align: center;
	font-family: Vela Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-decoration-line: underline;
}
.signInIpP {
	color: #000;
	font-family: Vela Sans;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0px 6px;
}
.searchContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.searchInput {
	width: 240px;
	height: 39px;
	background-color: #d9d9d9;
	border: 0;
	text-align: center;
	font-size: 14px;
}

.searchButton {
	width: 51px;
	height: 41px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #6a6a6a;
	border: 0px;
	border-radius: 0px 20px 20px 0px;
	padding: 5px 10px;
	font-size: 14px;
}
.signInIpDiv {
	display: flex;
}
