h2{
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;  
}

.sectionContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 65vh
}
.contentContainer{
    display: inline-flex;
}
.mainTitle{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 2rem;
}
.secondTitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn{
	border: 0;
	color: #fff;
	width: 196px;
	height: 45px;
	border-radius: 7px;
	background: #5250C5;
	box-shadow: 0px 4px 7px 0px rgba(99, 99, 151, 0.15);
}
.input{
    width: 210px;
	height: 39px;
	border-radius: 5px;
	border: 1px solid #9090D8;
	background: #F2F2FF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
	margin-top: 15px;
	padding-left: 10px;
}
.rightWrapper{
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
    margin-right: 8rem;
}
.textContent{
    text-align: left;
}
.phoneConteiner{
    display:inline-flex
}
.descText{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #6F6F6F;
    margin-left: 20px;
}
.leftWrapper{
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
}